<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title><%= title %></title>
</head>
<body>
    <%- include("../partials/header.ejs") %>
                 <!-- component -->
<!-- Create By Joker Banny -->
<h1 class="text-center font-['DM-Serif-Display'] text-3xl text-[#10172A] font-bold p-1">MES REALISATIONS</h1>
<h1 class="text-center font-['DM-Serif-Display'] text-sm text-[#10172A] font-bold">" Ce que j'ai concu et technologie utilisee "</h1>
<div class="min-h-screen bg-gradient-to-tr from-red-300 to-yellow-200 flex justify-center items-center py-20">
      
    <div class="md:px-4 md:grid md:grid-cols-2 lg:grid-cols-3 gap-5 space-y-4 md:space-y-0">
      <div class="max-w-sm bg-white px-6 pt-6 pb-2 rounded-xl shadow-lg transform hover:scale-105 transition duration-500">
        <h3 class="mb-3 text-xl font-bold text-indigo-600 text-center font-['DM-Serif-Display'] uppercase">Site web</h3>
        <div class="relative">
          <img class="w-full rounded-xl" src="./images/scopagri.jpg" alt="Colors" />
        </div>
        <h1 class="mt-4 text-gray-800 text-xl font-bold cursor-pointer font-['DM-Serif-Display'] text-center">WWW.SCOPAGRI-SCOOPS.COM</h1>
        <div class="my-4">
          <div class="flex space-x-1 items-center">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-indigo-600 mb-1.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </span>
            <p class="font-['DM-Serif-Display']">Concu en Mars 2025</p>
          </div>
          <div class="flex space-x-1 items-center">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-indigo-600 mb-1.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 4v12l-4-2-4 2V4M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
              </svg>
            </span>
            <p class="font-['DM-Serif-Display']">Technologie WORDPRESS</p>
          </div>
          <div class="flex space-x-1 items-center">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-indigo-600 mb-1.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
              </svg>
            </span>
            <p class="font-['DM-Serif-Display']">WORDPRESS -plugin ELEMENTOR</p>
          </div>
          <button class="mt-4 text-xl w-full text-white bg-indigo-600 py-2 rounded-xl shadow-lg"><a href="https://scopagri-scoops.com/">Visiter le site</a></button>
        </div>
      </div>
      <div class="max-w-sm bg-white px-6 pt-6 pb-2 rounded-xl shadow-lg transform hover:scale-105 transition duration-500">
        <h3 class="mb-3 text-xl font-bold text-indigo-600 text-center font-['DM-Serif-Display'] uppercase">Site web</h3>
        <div class="relative">
          <img class="w-full rounded-xl" src="./images/idistribu.jpg" alt="Colors" />
        </div>
        <h1 class="mt-4 text-gray-800 text-xl font-bold cursor-pointer font-['DM-Serif-Display'] text-center">WWW.IDISTRIBU-INTER.COM</h1>
        <div class="my-4">
          <div class="flex space-x-1 items-center">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-indigo-600 mb-1.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </span>
            <p class="font-['DM-Serif-Display']" >Concu en Avril 2025</p>
          </div>
          <div class="flex space-x-1 items-center">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-indigo-600 mb-1.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 4v12l-4-2-4 2V4M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
              </svg>
            </span>
            <p class="font-['DM-Serif-Display']">Technologie WORDPRESS</p>
          </div>
          <div class="flex space-x-1 items-center">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-indigo-600 mb-1.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
              </svg>
            </span>
            <p class="font-['DM-Serif-Display']">WORDPRESS plugin ELEMENTOR</p>
          </div>
          <button class="mt-4 text-xl w-full text-white bg-indigo-600 py-2 rounded-xl shadow-lg font-['DM-Serif-Display']"><a href="https://idistribu-inter.com/">Visiter le site</a></button>
        </div>
      </div>
      <div class="max-w-sm bg-white px-6 pt-6 pb-2 rounded-xl shadow-lg transform hover:scale-105 transition duration-500">
        <h3 class="mb-3 text-xl font-bold text-indigo-600 text-center font-['DM-Serif-Display'] uppercase">Site web</h3>
        <div class="relative">
          <img class="w-full rounded-xl" src="./images/portfolio.png" alt="Colors" />
        </div>
        <h1 class="mt-4 text-gray-800 text-xl font-bold cursor-pointer font-['DM-Serif-Display'] text-center">MON PORTFOLIO</h1>
        <div class="my-4">
          <div class="flex space-x-1 items-center">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-indigo-600 mb-1.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </span>
            <p class="font-['DM-Serif-Display']">Concu en MAI 2025</p>
          </div>
          <div class="flex space-x-1 items-center">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-indigo-600 mb-1.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 4v12l-4-2-4 2V4M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
              </svg>
            </span>
            <p class="font-['DM-Serif-Display']">Language Front END et Back end</p>
          </div>
          <div class="flex space-x-1 items-center">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-indigo-600 mb-1.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
              </svg>
            </span>
            <p class="font-['DM-Serif-Display']">HTML-EJS-TAILWIND-JS-NODESJS-EXPRESSJS & MONGODB-MODELE MVC</p>
          </div>
          <button class="mt-4 text-xl w-full text-white bg-indigo-600 py-2 rounded-xl shadow-lg"><a href="#">Visiter le site</a></button>
        </div>
      </div>
    </div>
  </div>
    <%- include("../partials/footer.ejs") %>
</body>
</html>